<!-- Driver launch file -->
<launch>
  <rosparam file ="$(find bill_drivers)/config/parameters.yaml" command="load" />

  <node pkg="bill_drivers" type="encoder_driver"
    name="encoder_driver">
  </node>

  <node pkg="bill_drivers" type="fan_driver"
    name="fan_driver">
  </node>

  <node pkg="bill_drivers" type="serial_driver"
    name="serial_driver" output="screen">
  </node>

  <node pkg="bill_drivers" type="led_driver"
    name="led_driver">
  </node>

  <node pkg="bill_drivers" type="motor_driver"
    name="motor_driver">
  </node>

  <node pkg="bill_drivers" type="reset_driver"
    name="reset_driver">
  </node>

  <node pkg="bill_drivers" type="ultrasonic_driver" name="ultrasonic_driver1">
    <param name="topic" value="/ultra_top"/>
    <param name="trigger_pin" value="17"/>
    <param name="echo_pin" value="27"/>
  </node>

  <node pkg="bill_drivers" type="ultrasonic_driver" name="ultrasonic_driver2">
    <param name="topic" value="/ultra_left"/>
    <param name="trigger_pin" value="9"/>
    <param name="echo_pin" value="11"/>
  </node>

  <node pkg="bill_drivers" type="ultrasonic_driver" name="ultrasonic_driver3">
    <param name="topic" value="/ultra_right"/>
    <param name="trigger_pin" value="20"/>
    <param name="echo_pin" value="21"/>
  </node>
</launch>
